@charset "utf-8";

.box2{
    overflow-y: scroll; 
    height:500px;
    border : solid 1px #333 ; 
    box-shadow: 2px 2px 4px gray;
}
.box2_under{
   position:relative;
}
.box3{
    margin-top: 20px;
    width:450px;
    height:auto;
    max-height: 350px;
    overflow-y: scroll;    
    background-color:#EEEEEE;
    border : solid 1px #333 ;
    margin-right:30px;
    box-shadow: 2px 2px 4px gray;
}
.box5{
    overflow-y: scroll;
    height:auto;
    border : solid 1px #333 ;     
}
.more2{
  display: none;
}
.morefix2:target + .more2{
  display: block;
}
.morefix2{
    position: fixed;
    top: 0;
}
.underplot_content{
    display: none;
}
.plus_section{
    display:none;
}
.chat_child .chat_id{
    font-weight: 900;
    line-height: 0px;
}
.chat_child .chat_user{
    color:#FF4F02;
    line-height: 0px;
}
.chat_child #content{
    font-size:12px;
    line-height: 0px;
}
.chat_child{
    border-bottom: 1px solid;
    border-color: #666666;
}
.fa-plus-square{
    cursor: pointer;
}
.nice{
    cursor: pointer;
    float:right;
    font-size: 15px;
    margin-top:20px;
    margin-right:30px;
    padding:5px 20px;
    background-color: #00FF3B;
    border: solid;
    border-color: #78FF94;
    box-shadow: 2px 4px #888888;
    border-radius:10px;
}
.unnice{
    padding:5px 0px;
    background-color: #005FFF;
    border-color: #75A9FF;
}
.nice:active{
    margin-top:34px;
    box-shadow: 0px 0px;    
}
.box2_under .up{
    position: fixed;
}
.underplot_show{
    cursor: pointer;
    border-bottom: solid 3px #87CEFA;
}